[submodule "Remote-Assignment/week2/Remote-Assignment/week2/Week2 _ A Simple App"]
	path = Remote-Assignment/week2/Remote-Assignment/week2/Week2 _ A Simple App
	url = https://github.com/hereisClara/Remote-Assignments.git
